name: build
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          recursive: true

      - uses: actions/setup-node@v4
        with:
          node-version: 22
      
      - run: npm install && npm run build-prod
      
      - uses: actions/upload-artifact@v4
        with:
          name: lexicalplaygroundonlyassets
          path: dist/
